<!doctype html>

<html lang='en'>
    
    
    <head>
        <link rel="stylesheet" type="text/css" href="css/nav_bar.css"/>
        <title>Welcome!</title>

    <!--put scripts in header with tag async-->
        <script type="text/javascript" src="js/clientScript.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <div class="top-nav">
            <ul class="top-horizontal">
                <li class="top-menu righty"><a href="labs">All Labs</a></li>
                <li class="top-menu righty"><a href="https://user.tjhsst.edu/2020obhalera/weather">Weather Forecaster</a></li>
                <li class="top-menu lefty" id="welcome">Welcome!</li>
            </ul>
        </div>
        <div class="woah"><strong>wOaH!!!!!</strong></div>
        <div class="content">
            <div class="intro">
                It seems as though you have found my website...<br>
                Well, feel free to look around, but warning in advance: if you were expecting a well-designed website, perhaps a functional one, or even one that's remotely fun to be on, you will be severely, severely disappointed.
            </div>
        </div>


    </body>
    
</html>

